<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>
    <%= yield %>
    <footer class="branding" >
      <small>&copy 2020 <strong>PlayLister</strong></small>
    </footer>
  </body>
</html>